{% load social_network_tags %}
{% load i18n %}

{% if user|is_friends_with:profile_user %}
    <span class="glyphicons ok_2 pull-right"><i></i>{% trans 'You and ' %}{{ profile_user.get_full_name }} {% trans 'are friends' %}
    </span>
{% elif request.user|has_requested_friendship_to:profile_user %}
    <span class="glyphicons ok_2 pull-right"><i></i>{% trans 'Friend request sent to ' %}{{ profile_user.get_full_name }}
    </span>
{% elif profile_user|has_requested_friendship_to:request.user %}
    <span class="glyphicons ok_2 pull-right"><i></i>{{ profile_user.get_full_name }} {% trans 'sent you a friend request.' %}
    </span>
{% else %}
    <a href="{% url 'friend_request_create' receiver=profile_user.pk %}"
       class="btn btn-primary btn-icon glyphicons ok_2 btn-sm pull-right show_modal"
       data-container="#modal_add_friend_request"><i></i>{% trans 'Send Friend Request' %}</a>
{% endif %}