{% load social_network_tags %}
{% load i18n %}

{% is_group_member user group as is_member %}
{% if not is_member %}
    {% if group.closed %}
        {% has_requested_membership user group as membership_req %}
        {% if membership_req %}
            <span class="glyphicons ok_2 pull-right"><i></i>
                {% trans 'Membership request sent to group' %}
            </span>
        {% else %}
            <a href="{% url 'social_group_request_create' group=group.pk %}" data-container="#modal_group_request_create"
               class="btn btn-primary btn-icon glyphicons ok_2 btn-sm pull-right show_modal">
                <i></i>{% trans 'Request Membership' %}
            </a>
        {% endif %}
    {% else %}
        <a id="group_join_link" href="{% url 'social_group_join' group=group.pk %}"
           class="btn btn-primary btn-icon glyphicons ok_2 btn-sm pull-right">
            <i></i>{% trans 'Join' %}
        </a>
    {% endif %}
{% endif %}