{% load i18n %}
{% load static %}
{% load social_network_tags %}

<div class="col-md-9">
    <div class="widget widget-heading-simple widget-body-gray">
        <div class="separator-line"></div>
        <div class="widget-body list">
            <ul class="list-unstyled">
                {% for req in object_list %}
                    <!-- List item -->
                    <li style="height: auto !important; padding: 9px">
                        <div class="row innerR " >
                            <div class="col-md-1">
                                <a href="{{ req.requester.profile.get_absolute_url }}">
                                    {% trans "Profile Picture" as avatar_alt %}
                                    {% if req.requester.profile.picture %}
                                        <img class="thumb hidden-tablet hidden-phone img-responsive"
                                             src="{{ req.requester.profile.picture.url }}" alt="{{ avatar_alt }}"/>
                                    {% else %}
                                        <img class="thumb hidden-tablet hidden-phone img-responsive"
                                             src="{% static 'social_network/img/group.jpeg' %}"
                                             alt="{{ avatar_alt }}"/>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-10 margin-left-none padding-left-none">
                                <div class="border-right" >
                                    <p class="border-bottom">
                                    <label class="">{{ req.requester.get_full_name }}</label>
                                    </p>
                                    <p class="text-muted">{{ req.message }}</p>
                                </div>
                            </div>
                            <div class="col-md-1">
                                {% has_admin group user as is_admin %}
                                {% if is_admin %}
                                    <a href="{% url 'social_group_request_accept' pk=req.pk %}"
                                       class="text-faded accept_request_link" data-toggle="tooltip"
                                       data-original-title="Accept" data-placement="bottom"><i
                                            class="fa fa-2x fa-check"></i></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <!-- // List item END -->
                {% empty %}
                    <div class="center">
                        {% trans "There are no membership requests." %}
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>