{% load i18n %}
{% load widget_tweaks %}

<!-- Modal -->
<div class="modal-dialog ">
    <div class="modal-content">

        <!-- Modal heading -->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title"><strong>{% trans 'Create Group' %}</strong></h3>
        </div>
        <!-- // Modal heading END -->

        <!-- Modal body -->
        <form id="group_create_form" class="form-horizontal" method="post" data-submit-response="html"
              action="{% url 'social_group_create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% render_field form.creator %}
            <div class="modal-body">
                <div class="row">

                    <div class="form-group margin-left-none col-md-12">
                        <div class="input-group col-md-12 padding-none-LR">
                            <label class="padding-left-none control-label" for="id_name">{% trans 'Name' %}</label>
                            {% trans "Enter group name here..." as namePH %}
                            {% render_field form.name class+="form-control required" placeholder=namePH %}
                        </div>
                        {% include "social_network/errors/_error_list.html" with errors=form.name.errors only %}
                    </div>

                    <div class="form-group margin-left-none col-md-12">
                        {% trans "Enter group description and details..." as descriptionPH %}
                        <div class="input-group col-md-12 margin-left-none padding-none-LR">
                            <label class="control-label" for="id_description">{% trans 'Description' %}</label>
                            {% render_field form.description class+="form-control required" placeholder=descriptionPH rows=2 %}
                        </div>
                        {% include "social_network/errors/_error_list.html" with errors=form.description.errors only %}
                    </div>
                    <div class="form-group margin-left-none col-md-12  margin-right-none">
                        {% trans "Add group administrators (other than you)..." as adminsPH %}
                        <label for="id_administrators" class="control-label">{% trans "Administrators" %}:</label>
                        <div class="input-group col-md-12 margin-left-none padding-none-LR">
                            {% render_field form.administrators class+="form-control" placeholder=adminsPH %}
                        </div>
                        {% include "social_network/errors/_error_list.html" with errors=form.administrators.errors only %}
                    </div>

                    <div class="form-group col-md-12 margin-left-none">
                        <label class="top control-label" for="id_image">{% trans 'Group Picture' %}</label>

                        <div class="fileupload fileupload-new margin-none col-md-12 padding-none-LR" data-provides="fileupload">
                            <div class="input-group">
                                <div class="form-control col-md-3">
                                    <i class="fa fa-file fileupload-exists"></i>
                                    <span class="fileupload-preview"></span>
                                </div>
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                        <span class="fileupload-new">{% trans 'Select' %}</span>
                                        <span class="fileupload-exists">{% trans 'Change' %}</span>
                                        {% render_field form.image class+="required"%}
                                    </span>
                                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">{% trans 'Clean' %}</a>
                                </span>
                            </div>
                        </div>
                        {% include "social_network/errors/_error_list.html" with errors=form.image.errors only %}
                    </div>

                    <div class="clearfix"></div>
                    <div class="uniformjs col-md-12">
                        <label class="checkbox  padding-top-none">
                            {% render_field form.closed %} {% trans 'I want this to be a closed group' %}
                        </label>
                    </div>
                </div>
            </div>
            <!-- // Modal body END -->
            <!-- Modal footer -->
            <div class="modal-footer ">
                <a href="#" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</a>
                <a href="#" class="btn btn-info submit-modal-form">{% trans 'Create' %}</a>
            </div>
            <!-- // Modal footer END -->
        </form>
    </div>
</div>
<!-- // Modal END -->