{% load i18n %}
<!--friends widget begin-->
<div class="widget widget-body-gray widget-heading-simple">
    <div class="widget-head">{% trans 'Group Members' %}</div>
    <div class="widget-body padding-none-TB">
    <div class="carousel carousel-1 slide" id="carousel-friends" data-interval="false" style="height: auto !important;">
    <div class="carousel-inner">
    <!-- Item -->
    <div class="item active" style="height: auto !important;">
        <div class="row innerT ">
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="#">
                    <a href="open_market_detail_with_images.html" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="#">
                    <a href="open_market_detail_with_images.html" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- // Item END -->
    <!-- Item -->
    <div class="item " style="height: auto !important;">
        <div class="row innerT ">
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="#">
                    <a href="open_market_detail_with_images.html" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="#">
                    <a href="open_market_detail_with_images.html" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- // Item END -->
    <!-- Item -->
    <div class="item " style="height: auto !important;">
        <div class="row innerT ">
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="#">
                    <a href="open_market_detail_with_images.html" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="#">
                    <a href="open_market_detail_with_images.html" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- // Item END -->
    <!-- Item -->
    <div class="item " style="height: auto !important;">
        <div class="row innerT ">
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="#">
                    <a href="open_market_detail_with_images.html" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="#">
                    <a href="open_market_detail_with_images.html" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- // Item END -->
    <!-- Item -->
    <div class="item " style="height: auto !important;">
        <div class="row innerT ">
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="#">
                    <a href="open_market_detail_with_images.html" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="widget widget-pinterest">
                    <a href="#" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="#">
                    <a href="open_market_detail_with_images.html" class="widget-body padding-none">
                        <img src="../../assets/img/avatar-36x36.jpg" alt="photo" class="cp-carousel-catalog-image"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- // Item END -->
    </div>
    <ol class="carousel-indicators">
        <li data-target="#carousel-friends" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-friends" data-slide-to="1"></li>
        <li data-target="#carousel-friends" data-slide-to="2"></li>
        <li data-target="#carousel-friends" data-slide-to="3"></li>
        <li data-target="#carousel-friends" data-slide-to="4"></li>
    </ol>
    </div>
    </div>
    </div>
    <!--friends widget ends-->