{% load static %}
{% load i18n %}
{% load feed_tags %}
{% load social_network_tags %}
{% load thumbnail %}
<div class="col-md-9">
    <div class="widget widget-heading-simple widget-body-gray"
         {% if object_list|length > 0 %}data-toggle="collapse-widget"
         data-collapse-closed="false"{% endif %}>
        <div class="separator"></div>
        <div class="widget-head">
            <strong class="text-primary">{% trans 'Solicitudes de amistad' %} <label
                    class="badge badge-primary">{{ object_list|length }}</label></strong>
        </div>
        <div class="separator-line"></div>
        <div class="widget-body list">
            <ul class="list-unstyled">
                {% for req in object_list %}
                    <!-- List item -->
                    <li style="height: auto !important; padding: 9px">
                        <div class="row innerR">
                            <div class="col-md-1">
                                <a href="{% url 'profile_view' req.from_user.profile.current.pk %}">
                                    {% if req.from_user.profile.current.picture %}
                                        {% with image=req.from_user.profile.current.picture|thumbnailer %}
                                            {% if image.avatar_medium %}
                                                <img class="thumb hidden-tablet hidden-phone img-responsive"
                                                     src="{{ image.avatar_medium.url }}" alt="Foto del Perfil"/>
                                            {% else %}
                                                {% thumbnail req.from_user.profile.current.picture 60x60 crop=',0' as thumb %}
                                                <img class="thumb hidden-tablet hidden-phone img-responsive"
                                                     src="{{ thumb.url }}"
                                                     alt="Foto del Perfil"/>
                                            {% endif %}
                                        {% endwith %}
                                    {% else %}
                                        <img class="thumb hidden-tablet hidden-phone img-responsive"
                                             src="{% static 'img/avatar-51x51.jpg' %}"
                                             alt="{% trans "Foto del Perfil" %}"/>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-11">
                                <p class="pull-left">
                                    <label style="margin-top: 5px">{{ req.from_user|get_name }}</label><br>
                                    {{ req.from_user.profile.current.municipality|default:'-' }}
                                </p>

                                <div class="pull-right">
                                    {% if request.user != req.from_user %}
                                        <a href="{% url "new_user_message" pk=req.from_user.pk %}" class="text-faded show_modal" data-container="#modal_contact_someone" data-toggle="tooltip"
                                           data-original-title="Enviar mensaje" data-placement="bottom"><i
                                                class="fa fa-2x fa-comment"></i></a>
                                        <i>&MediumSpace;</i>
                                    {% endif %}
                                    {% if req.to_user == request.user %}
                                        <a href="{% url 'friend_request_accept' pk=req.pk %}"
                                           class="text-faded accept_request_link" data-toggle="tooltip"
                                           data-original-title="Aceptar solicitud de amistad" data-placement="bottom"><i
                                                class="fa fa-2x fa-check"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </li>
                    <!-- // List item END -->
                {% endfor %}
            </ul>
        </div>
    </div>
    <!--FRIENDS-->
    <div class="widget widget-body-white widget-heading-simple" {% if friends|length > 0 %}data-toggle="collapse-widget"
         data-collapse-closed="false"{% endif %}>
        <div class="widget-head">
            <strong>{% trans 'Amigos' %} <label class="badge">{{ friends|length }}</label></strong>
            {#            <span class="pull-right">#}
            {#                <a href="#" class=" text-primary">Buscar amigos</a>#}
            {#            </span>#}

        </div>
        <div class="widget-body list ">
            <ul>
                {% for friend in friends %}
                    <!-- List item -->
                    <li style="height: auto !important; padding: 9px">
                        <div class="row innerR">
                            <div class="col-md-1">
                                <a href="{% url 'profile_view' friend.profile.current.pk %}">
                                        {% if friend.profile.current.picture %}
                                        {% with image=friend.profile.current.picture|thumbnailer %}
                                            {% if image.avatar_medium %}
                                                <img class="thumb hidden-tablet hidden-phone img-responsive"
                                                     src="{{ image.avatar_medium.url }}" alt="Foto del Perfil"/>
                                            {% else %}
                                                {% thumbnail friend.profile.current.picture 60x60 crop=',0' as thumb %}
                                                <img class="thumb hidden-tablet hidden-phone img-responsive"
                                                     src="{{ thumb.url }}"
                                                     alt="Foto del Perfil"/>
                                            {% endif %}
                                        {% endwith %}
                                    {% else %}
                                        <img class="thumb hidden-tablet hidden-phone img-responsive"
                                             src="{% static 'img/avatar-51x51.jpg' %}"
                                             alt="{% trans "Foto del Perfil" %}"/>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-11">
                                <p class="pull-left">
                                    <label style="margin-top: 5px">{{ friend|get_name }}</label><br>
                                    {{ friend.profile.current.municipality|default:'-' }}
                                </p>

                                <div class="pull-right">
                                    {% if request.user != friend %}
                                        <a href="{% url "new_user_message" pk=friend.pk %}" class="text-faded show_modal" data-container="#modal_contact_someone" data-toggle="tooltip"
                                           data-original-title="Enviar mensaje" data-placement="bottom"><i
                                                class="fa fa-2x fa-comment"></i></a>
                                        <i>&MediumSpace;</i>
                                    {% endif %}
                                    {% if not request.user|is_friends_with:friend and request.user != friend and not request.user|has_requested_friendship:friend and not friend|has_requested_friendship:request.user %}
                                        <a href="{% url 'friend_request_create' receiver=friend.pk %}"
                                           class="text-faded show_modal" data-toggle="tooltip"
                                           data-container="#modal_add_friend_request"
                                           data-original-title="{% trans 'Enviar solicitud de amistad' %}"
                                           data-placement="bottom"><i
                                                class="fa fa-2x fa-location-arrow"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </li>
                {% endfor %}
                <!-- // List item END -->
            </ul>
        </div>
    </div>
</div>
<!--for collapsible-->
<script src="{% static "vendors/components/modules/admin/widgets/widget-collapsible/assets/widget-collapsible.init.js" %}"></script>