{% load i18n %}
{% load static from staticfiles %}
{% load widget_tweaks %}
<form id="modal_group_photo_form" action="{% url 'social_group_photo_create' group=group %}" method="post" >
    {% csrf_token %}
    {% render_field form.creator %}
    {% render_field form.group %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-camera fa-lg"></i>{% trans ' Comparta su foto' %}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="top control-label" for="id_image">{% trans 'Imagen' %}</label>
                        <div class="fileupload fileupload-new margin-none col-md-12 padding-none-LR"
                             data-provides="fileupload">
                            <div class="input-group">
                                <div class="form-control col-md-3"><i class="fa fa-file fileupload-exists"></i> <span
                                        class="fileupload-preview"></span></div>
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                        <span class="fileupload-new">{% trans 'Seleccionar' %}</span>
                                        <span class="fileupload-exists">{% trans 'Cambiar' %}</span>
                                        {% render_field form.image accept+="image/*" class+="required" %}
                                    </span><a href="#" class="btn fileupload-exists"
                                              data-dismiss="fileupload">{% trans 'Limpiar' %}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="form-group">
                        {% trans "Escriba un comentario" as commentValuePH %}
                        {% render_field form.comment rows=5 class="input-block-level form-control required" placeholder=commentValuePH %}
                        {% include "errors/_error_list.html" with errors=form.comment.errors %}
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-icon btn-default glyphicons circle_remove"
                       data-dismiss="modal"><i></i>{% trans 'Cancelar' %}</a>
                    <a id="btn_dialog_ok" href="#"
                       class="btn btn-icon btn-primary glyphicons circle_ok submit-modal-form"><i></i>{% trans 'Enviar' %}</a>
                </div>
            </div>
        </div>
</form>