{% extends 'base_front.html' %}
{% load static %}
{% load i18n %}
{% load social_network_tags %}
{% load thumbnail %}

{% block head_css_section %}
    <!--for timeline-->
    <link rel="stylesheet" href="{% static 'vendors/components/modules/admin/timeline/assets/less/timeline.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendors/components/modules/admin/widgets/widget-generic/assets/widget-generic.css' %}"/>

    <!--for modals-->
    <link rel=" stylesheet" href="{% static 'vendors/components/modules/admin/modals/assets/less/modals.css' %}"/>

    <!--for file upload-->
    <link rel="stylesheet" href="{% static 'vendors/components/modules/admin/forms/elements/jasny-fileupload/assets/css/fileupload.css' %}"/>

    <!--for collapsible-->
    <link rel="stylesheet" href="{% static "vendors/components/modules/admin/widgets/widget-collapsible/assets/widget-collapsible.css" %}"/>

    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'social_network/css/styles.css' %}"/>

    <!-- Timeline fixes -->
    <link rel="stylesheet" href="{% static "notifications/css/user_feed.css" %}" />
{% endblock head_css_section %}

{% block content %}
    <div id="landing_2">
        <!-- Special Offers Widget -->
        <div class="widget widget-heading-simple widget-body-gray widget-offers margin-bottom-none">
            <div class="widget-body" style="border-bottom: solid 2px #EA7924">
                <!-- Media item -->
                <div class="row innerT">
                    <div class="col-md-1">
                     {% if group.image %}
                        {% with image=group.image|thumbnailer %}
                            {% if image.avatar_large %}
                                <img class="thumb hidden-tablet hidden-phone img-responsive"
                                     src="{{ image.avatar_large.url }}" alt="Foto del Grupo"/>
                            {% else %}
                                {% thumbnail group.image 74x74 crop=',0' as thumb %}
                                <img class="thumb hidden-tablet hidden-phone img-responsive"
                                     src="{{ thumb.url }}"
                                     alt="Foto del Grupo"/>
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        <img class="thumb hidden-tablet hidden-phone img-responsive"
                             src="{% static 'img/avatar-74x74.jpg' %}" alt="{% trans "Foto del Grupo" %}"/>
                    {% endif %}
                    </div>
                    <div class="col-md-11">
                        <div id="buttonsContainer" data-url="{% url 'membership_buttons' group=group.pk %}">
                            {% include 'social_network/buttons/_membership_buttons.html' %}
                        </div>
                        <h3><a href="">{{ group.name }}</a></h3>

                        <p class="col-md-10 padding-left-none">{{ group.description }}</p>
                    </div>

                </div>
                <!-- // Media item END -->

            </div>

        </div>
        <!-- // Special Offers Widget END -->
        <div class="widget widget-tabs widget-quick">
            <!--TABS------>
            <div class="widget-head">
                <ul id="detailTabs">
                    <li><a class="btn btn-default border-none" href="#feedTab"
                           data-toggle="tab">{% trans "Muro" %}</a>
                    </li>
                    <li><a class="btn btn-default border-none" href="#membersTab"
                           data-toggle="tab">{% trans "Miembros" %}</a>
                    </li>
                    {% if request.user|is_group_admin:group and group.closed %}
                    <li><a class="btn btn-default border-none" href="#membershipRequestsTab"
                           data-toggle="tab">{% trans "Solicitudes de Membresía" %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade" id="feedTab" data-repeat-request="true"
                     data-url="{% url "group_feed" group=group.pk %}"
                     data-callback-params="#feedTab">
                </div>
                <div id="membersTab" class="tab-pane fade" data-repeat-request="true"
                     data-url="{% url 'social_group_members_list' group=group.pk %}"
                     data-callback-params="#membersTab">
                </div>
                {% if request.user|is_group_admin:group and group.closed %}
                    <div id="membershipRequestsTab" class="tab-pane fade" data-repeat-request="true"
                         data-url="{% url 'group_request_list' group=group.pk %}"
                         data-callback-params="#membershipRequestsTab">
                    </div>
                {% endif %}
            </div>
            <!--END TABS------>
        </div>


    </div>
    <!-- // Content END -->
    {% include  'social_network/interactions/_modal_interactions.html' %}
{% endblock content %}

{% block footer_scripts %}
    {{ block.super }}
    <!--for file upload-->
    <script src="{% static 'vendors/components/modules/admin/forms/elements/jasny-fileupload/assets/js/bootstrap-fileupload.js' %}"></script>
    <!-- Messaging -->
    <script src="{% static "js/messaging/messages_interactions.js" %}"></script>
    <!-- Custom -->
    <script src="{% static 'social_network/js/group_details.js' %}"></script>

{% endblock footer_scripts %}