{% load i18n %}
{% load static %}
{% load image_tags %}
{% load feed_tags %}
{% load thumbnail %}
<div class="separator"></div>
{% if user.pk == owner %}
<div class="innerLR">
    <a href="{% url 'social_group_create' %}"
       class="pull-right text-primary show_modal"
       data-container="#modal_add_social_group">{% trans 'Nuevo Grupo' %}</a>
{% endif %}

    <div class="clearfix"></div>
    <!-- MY GROUPS-->
    <div class="widget widget-body-white widget-heading-simple"
         {% if object_list|length > 0 %}data-toggle="collapse-widget" data-collapse-closed="false"{% endif %}>
        <div class="widget-head">
            <strong class="text-primary">
                {% trans 'Mis Grupos' %} <label class="badge badge-primary">{{ object_list|length }}</label>
            </strong>
        </div>
        {% for group in object_list %}
            <div class="">
                <div class="widget-body padding-bottom-none padding-none-LR">
                    <span class="pull-right glyphicons {% if group.closed %}lock{% else %}unlock{% endif %} group-lock"><i></i></span>
                    <div class="col-md-1 ">
                        <div class="widget widget-pinterest border-none">
                            <a href="{% url 'social_group_details' pk=group.pk %}" data-toggle="modal"
                               class="widget-body padding-none">
                                {% if group.image %}
                                    {% with image=group.image|thumbnailer %}
                                        {% if image.avatar_large %}
                                            <img class="cp-carousel-catalog-image" src="{{ image.avatar_large.url }}" {% trans "Foto" %}/>
                                        {% else %}
                                            {% thumbnail group.image 74x74 crop=',0' as thumb %}
                                            <img class="cp-carousel-catalog-image" src="{{ thumb.url }}" {% trans "Foto" %}/>
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    <img class="cp-carousel-catalog-image" src="{% static 'img/avatar-74x74.jpg' %}" alt="{% trans "Foto" %}"/>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <h4 class="border-bottom"><a
                                href="{% url 'social_group_details' pk=group.pk %}">{{ group.name }}</a></h4>

                        <p>{{ group.description }}</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="separator-line"></div>
                    {% with group.members_count as members_count %}
                        {% if members_count > 0 %}
                            <div class="col-md-12 innerB">
                                {% if members_count > 6 %}
                                    <h5 class="col-md-12 padding-none-LR text-muted">
                                        {% blocktrans with count=members_count %}Integrantes del grupo ( mostrando 6 de
                                            {{ count }} en total ){% endblocktrans %}</h5>
                                {% else %}
                                    <h5 class="col-md-12 padding-none-LR text-muted">
                                        {% blocktrans with count=members_count %}Integrantes del grupo ( mostrando
                                            {{ count }} de {{ count }} en total ){% endblocktrans %}</h5>
                                {% endif %}
                                {% for member in group.members %}
                                    <div class="col-md-2 padding-none-LR separator top ">
                                        <a href="{% url 'profile_view' pk=member.profile.current.pk %}">
                                <span class="col-md-2 padding-none-LR">
                                     {% if member.profile.current.picture %}
                                         {% with image=member.profile.current.picture|thumbnailer %}
                                             {% if image.avatar_large %}
                                                 <img class="img-responsive"
                                                      src="{{ image.avatar_large.url }}" alt="Foto"/>
                                             {% else %}
                                                 {% thumbnail member.profile.current.picture 74x74 crop=',0' as thumb %}
                                                 <img class="img-responsive"
                                                      src="{{ thumb.url }}"
                                                      alt="Foto"/>
                                             {% endif %}
                                         {% endwith %}
                                     {% else %}
                                         <img class="img-responsive"
                                              src="{% static 'img/avatar-74x74.jpg' %}"
                                              alt="{% trans "Foto" %}"/>
                                     {% endif %}
                                </span>
                                <span class="text-muted col-md-10 ">
                                    {{ member|get_name }}<br>
                                </span>
                                        </a>
                                    </div>
                                {% endfor %}
                                <div class="clearfix"></div>
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class="col-md-12 innerB">
                        <div class="pull-right"><a
                                href="{% url 'social_group_details' pk=group.pk %}">{% trans 'Ver más detalles ...' %}</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="center">
                {% trans "No hay grupos que mostrar." %}
            </div>
        {% endfor %}
    </div>
    <!-- END MY GROUPS-->
    <!-- GROUPS I AM MEMBER OF-->
    <div class="widget widget-body-white widget-heading-simple"
         {% if group_member_list|length > 1 %}data-toggle="collapse-widget" data-collapse-closed="false"{% endif %}>
        <div class="widget-head">
            <strong class="text-primary">
                {% trans 'Grupos a los que Pertenezco' %} <label class="badge badge-primary">{{ group_member_list|length }}</label>
            </strong>
        </div>
        {% for group in group_member_list %}
            <div class="">

                <div class="widget-body padding-bottom-none padding-none-LR">
                    <div class="col-md-1 ">
                        <div class="widget widget-pinterest border-none">
                            <a href="{% url 'social_group_details' pk=group.pk %}" data-toggle="modal"
                               class="widget-body padding-none">
                                {% if group.image %}
                                    {% with image=group.image|thumbnailer %}
                                        {% if image.avatar_large %}
                                            <img class="cp-carousel-catalog-image"
                                                 src="{{ image.avatar_large.url }}" alt="Foto"/>
                                        {% else %}
                                            {% thumbnail group.image 74x74 crop=',0' as thumb %}
                                            <img class="cp-carousel-catalog-image" src="{{ thumb.url }}" alt="Foto"/>
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    <img class=cp-carousel-catalog-image"
                                         src="{% static 'img/avatar-74x74.jpg' %}" alt="{% trans "Foto" %}"/>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <h4 class="border-bottom"><a
                                href="{% url 'social_group_details' pk=group.pk %}">{{ group.name }}</a></h4>

                        <p>{{ group.description }}</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="separator-line"></div>
                    {% with group.members_count as members_count %}
                        {% if members_count > 0 %}
                            <div class="col-md-12 innerB">
                                {% if members_count > 6 %}
                                    <h5 class="col-md-12 padding-none-LR text-muted">
                                        {% blocktrans with count=members_count %}Integrantes del grupo ( mostrando 6 de
                                            {{ count }} en total ){% endblocktrans %}</h5>
                                {% else %}
                                    <h5 class="col-md-12 padding-none-LR text-muted">
                                        {% blocktrans with count=members_count %}Integrantes del grupo ( mostrando
                                            {{ count }} de {{ count }} en total ){% endblocktrans %}</h5>
                                {% endif %}
                                {% for member in group.members %}
                                    <div class="col-md-2 padding-none-LR separator top ">
                                        <a href="{% url 'profile_view' pk=member.profile.current.pk %}">
                                <span class="col-md-2 padding-none-LR">
                                     {% if member.profile.current.picture %}
                                         {% with image=member.profile.current.picture|thumbnailer %}
                                             {% if image.avatar_large %}
                                                 <img class="img-responsive"
                                                      src="{{ image.avatar_large.url }}" alt="Foto"/>
                                             {% else %}
                                                 {% thumbnail member.profile.current.picture 74x74 crop=',0' as thumb %}
                                                 <img class="img-responsive"
                                                      src="{{ thumb.url }}"
                                                      alt="Foto"/>
                                             {% endif %}
                                         {% endwith %}
                                     {% else %}
                                         <img class="img-responsive"
                                              src="{% static 'img/avatar-74x74.jpg' %}"
                                              alt="{% trans "Foto" %}"/>
                                     {% endif %}
                                </span>
                                <span class="text-muted col-md-10 ">
                                    {{ member|get_name }}<br>
                                </span>
                                        </a>
                                    </div>
                                {% endfor %}
                                <div class="clearfix"></div>
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class="col-md-12 innerB">
                        <div class="pull-right"><a
                                href="{% url 'social_group_details' pk=group.pk %}">{% trans 'Ver más detalles ...' %}</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="center">
                {% trans "No hay grupos que mostrar." %}
            </div>
        {% endfor %}
    </div>
    <!-- END GROUPS I AM MEMBER OF-->
</div>
<div class="separator"/>

<!--for collapsible-->
<script src="{% static "vendors/components/modules/admin/widgets/widget-collapsible/assets/widget-collapsible.init.js" %}"></script>
